<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="para.menu">
	
	<resultMap type="MenuDto" id="MenuResultMap">
		<result property="menu_seq" column="MENU_SEQ"/>
		<result property="menu_name" column="MENU_NAME"/>
		<result property="menu_price" column="MENU_PRICE"/>
		<result property="menu_category" column="MENU_CATEGORY"/>
		<result property="menu_delflag" column="MENU_DELFLAG"/>
		<collection property="fileDto" resultMap="FileResultMap"></collection>
	</resultMap>
	
	<resultMap type="FileDto" id="FileResultMap">
		<result property="file_seq" column="FILE_SEQ"/>
		<result property="file_tname" column="FILE_TNAME"/>
		<result property="file_rname" column="FILE_RNAME"/>
		<result property="file_regdate" column="FILE_REGDATE"/>
		<result property="file_size" column="FILE_SIZE"/>
		<result property="chat_seq" column="CHAT_SEQ"/>
	
	</resultMap>
	
	<!-- 업주 선택 메뉴 조회 -->
	<select id="ownerMenuList" parameterType="java.util.Map" resultType="MenuDto">
	SELECT FILE_SEQ, FILE_TNAME, FILE_RNAME, 
	MENU_SEQ,MENU_NAME,MENU_PRICE,MENU_CATEGORY
    FROM MENU JOIN FILE_LIST USING (MENU_SEQ)
    WHERE MENU_SEQ IN 
    <foreach item="menu_seq" collection="menu_seq_"
      open="(" separator="," close=")">
        #{menu_seq}
 	</foreach>
 	<if test="menu_category != null">
 		AND MENU_CATEGORY = #{menu_category}
 	</if>
    ORDER BY MENU_PRICE DESC
	</select>
	
	<!-- 업주 메뉴 선택 -->
	<update id="ownerMenuChoice" parameterType="java.util.Map">
	UPDATE OWNER SET OWNER_MENU=#{owner_menu} 
	WHERE OWNER_SEQ=#{owner_seq}
	</update>
	
	<!-- 전체 메뉴 조회 -->
	<select id="allMenu" parameterType="MenuDto" resultMap="MenuResultMap">
	SELECT FILE_SEQ, FILE_TNAME, FILE_RNAME, 
	MENU_SEQ,MENU_NAME,MENU_PRICE,MENU_CATEGORY,MENU_DELFLAG
 	FROM MENU JOIN FILE_LIST USING (MENU_SEQ)
 	<if test="menu_category != null">
 		WHERE MENU_CATEGORY = #{menu_category}
 	</if>
 	ORDER BY MENU_PRICE DESC
	</select>
	
	<!-- 메뉴 상세 조회(수정시 사용) -->
	<select id="detailMenu" parameterType="java.lang.String" resultType="MenuDto">
	SELECT FILE_SEQ, FILE_TNAME, FILE_RNAME, 
	MENU_SEQ,MENU_NAME,MENU_PRICE,MENU_CATEGORY
 	FROM MENU JOIN FILE_LIST USING (MENU_SEQ)
 	WHERE MENU_SEQ=#{menu_seq}
	</select>
	
	<!-- 담당자 메뉴 등록 -->
	<insert id="insertMenu" parameterType="MenuDto">
	INSERT INTO MENU (MENU_SEQ, MENU_NAME, MENU_PRICE, MENU_CATEGORY,MENU_DELFLAG)
 	VALUES(MENU_SEQ.NEXTVAL, #{menu_name}, #{menu_price}, #{menu_category},'N')
	</insert>
	
	<!-- 담당자 메뉴 이미지(파일) 등록 -->
	<insert id="insertMenuFile" parameterType="FileDto">
	INSERT INTO FILE_LIST (FILE_SEQ, FILE_TNAME, FILE_RNAME, FILE_REGDATE, FILE_SIZE, MENU_SEQ)
 	VALUES(FILE_SEQ.NEXTVAL,#{file_tname},#{file_rname},SYSDATE,#{file_size},#{menu_seq})
	</insert>
	
	<!-- 담당자 메뉴 수정 -->
	<update id="modifyMenu" parameterType="MenuDto">
	UPDATE MENU SET MENU_NAME=#{menu_name}, MENU_PRICE=#{menu_price}
	WHERE MENU_SEQ=#{menu_seq}
	</update>
	
	<!-- 담당자 메뉴 이미지(파일) 수정 -->
	<update id="modifyMenuFile" parameterType="FileDto">
	UPDATE FILE_LIST SET FILE_TNAME =#{file_tname}, FILE_RNAME=#{file_rname}, FILE_REGDATE=#{file_regdate}, FILE_SIZE=#{file_size}
	WHERE MENU_SEQ=#{menu_seq}
	</update>
	
	<!-- 담당자 메뉴 삭제 -->
	<update id="deleteMenu" parameterType="java.lang.String">
	UPDATE MENU SET MENU_DELFLAG='Y' 
	WHERE MENU_SEQ=#{menu_seq}
	</update>
	
	<!-- 메뉴 전체 조회 -->
	<select id="selAllMenu" resultType="java.lang.Integer">
		SELECT MENU_SEQ FROM MENU
	</select>
	
	

</mapper>
