<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="para.menu">
	
	<!-- 업주 선택 메뉴 조회 -->
	<select id="ownerMenuList" parameterType="java.lang.String" resultType="MenuDto">
	SELECT FILE_SEQ, FILE_TNAME, FILE_RNAME, 
	MENU_SEQ,MENU_NAME,MENU_PRICE,MENU_CATEGORY
    FROM MENU JOIN FILE_LIST ON MENU.MENU_SEQ = FILE_LIST.MENU_SEQ 
    WHERE MENU_SEQ IN (1,3,5)
    ORDER BY MENU_PRICE DESC
	</select>
	
	<!-- 업주 메뉴 선택 -->
	<update id="ownerMenuChoice" parameterType="java.util.Map">
	UPDATE OWNER SET OWNER_MENU='1,3,5' 
	WHERE OWNER_SEQ='1'
	</update>
	
	<!-- 전체 메뉴 조회 -->
	<select id="allMenu" resultType="MenuDto">
	SELECT FILE_SEQ, FILE_TNAME, FILE_RNAME, 
	MENU_SEQ,MENU_NAME,MENU_PRICE,MENU_CATEGORY
 	FROM MENU JOIN FILE_LIST ON MENU.MENU_SEQ = FILE_LIST.MENU_SEQ 
 	ORDER BY MENU_PRICE DESC
	</select>
	
	<!-- 담당자 메뉴 등록 -->
	<insert id="insertMenu" parameterType="MenuDto">
	INSERT INTO MENU (MENU_SEQ, MENU_NAME, MENU_PRICE, MENU_CATEGORY,MENU_DELFLAG)
 	VALUES(MENU_SEQ.NEXTVAL, '후라이드치킨', 18000, '주메뉴','N')
	</insert>
	
	<!-- 담당자 메뉴 이미지(파일) 등록 -->
	<insert id="insertMenuFile" parameterType="FileDto">
	INSERT INTO FILE_LIST (FILE_SEQ, FILE_TNAME, FILE_RNAME, FILE_REGDATE, FILE_SIZE, MENU_SEQ)
 	VALUES('','','','','','')
	</insert>
	
	<!-- 담당자 메뉴 수정 -->
	<update id="modifyMenu" parameterType="MenuDto">
	UPDATE MENU SET MENU_NAME='사이다', MENU_PRICE=2000 
	WHERE MENU_SEQ=8
	</update>
	
	<!-- 담당자 메뉴 이미지(파일) 수정 -->
	<update id="modifyMenuFile" parameterType="FileDto">
	UPDATE FILE_LIST SET FILE_TNAME ='', FILE_RNAME='', FILE_REGDATE='', FILE_SIZE='' 
	WHERE MENU_SEQ=8
	</update>
	
	<!-- 담당자 메뉴 삭제 -->
	<delete id="deleteMenu" parameterType="java.lang.String">
	DELETE FROM MENU 
	WHERE MENU_SEQ=5
	</delete>
	
	<!-- 담당자 메뉴 이미지(파일) 삭제 -->
	<delete id="deleteMenuFile" parameterType="java.lang.String">
	DELETE FROM FILE_LIST 
	WHERE MENU_SEQ=5
	</delete>
	

</mapper>
