<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- 사용할 typeAlias 설정 가능 -->
	<typeAliases>
		<typeAlias type="com.happy.para.dto.AdminDto" alias="AdminDto" />
		<typeAlias type="com.happy.para.dto.OwnerDto" alias="OwnerDto" />
		<typeAlias type="com.happy.para.dto.MenuDto" alias="MenuDto" />
		<typeAlias type="com.happy.para.dto.RequestDto" alias="RequestDto" />
		<typeAlias type="com.happy.para.dto.FileDto" alias="FileDto"/>
		<typeAlias type="com.happy.para.dto.PaoDto" alias="PaoDto"/>
		<typeAlias type="com.happy.para.dto.ItemDto" alias="ItemDto"/>
		<typeAlias type="com.happy.para.dto.ChatDto" alias="ChatDto"/>
	</typeAliases>

<!-- Mapper 연결 -->
	<mappers>
		<mapper resource="/sqls/Member.xml" />
		<mapper resource="/sqls/Request.xml" />
		<mapper resource="/sqls/Stats.xml" />
		<mapper resource="/sqls/Menu.xml" />
		<mapper resource="/sqls/Pao.xml" />
		<mapper resource="/sqls/Item.xml"/>
		<mapper resource="/sqls/Chat.xml"/>
	</mappers>
</configuration>
