@charset "UTF-8";


*{
	margin: 0px;
	padding: 0px;
}

.bodyFrame{
/* 	border: 1px solid red; */
	width: 1060px;
	height: 540px;
	right: 0px;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#container{
	width: 1260px;
	height: 610px;
	position: relative;
	
}
#header{
	width: 200px;
	height: 610px;
	position: absolute;
	border: 1px solid rgba(0,0,0,0.1);
}

#footer{
	border: 1px solid rgba(0,0,0,0.1);
	border-top: none;
	width: 1060px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.bodyfixed{
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: none;
	width: 1060px;
	height: 540px;
	right: 0px;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.oneDepth{
/* 	border: 1px dotted gray; */
	width: 1020px;
	height: 50px; 
	margin: 10px 20px;
}

.oneDepth>p{
	width: 170px; 
	font-size: 30px; 
	background-color: RGB(21,140,186); 
	color:white; 
	font-weight: bold; 
	padding: 0px 10px; 
	text-align: center;
	border-radius: 0.2em;
}

.twoDepth{
/* 	border-bottom: 1px solid rgba(0,0,0,0.1); */
	width: 1020px;
	height: 460px;
	margin: 10px 20px;
}

.tab-content{
}

#pagingForm{
	position: absolute;
	bottom: -1px;
/* 	left: 35%; */
	left: 25%;
}

.headConts{
	margin: 0px;
	padding: 0px;
}

#paraPhoto{
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 100px; 
}

.logoImg{
	width: 198px;
	height: 99px;
	left: 0px;
	position: absolute;
}

.welcomeMsg{
/* 	border: 1px dotted red; */
	padding-top: 5px;
	width: 200px;
	height: 75px;
}