@charset "UTF-8";

#container {
	width: 1020px;
	height: 435px;
}

#selectBox {
	width: 180px;
	height: 40px;
	margin-left: 838px;
}

#requestStatus{
	cursor: pointer;
}
#detailMenu{
	cursor: pointer;
}
#select{
	width:100%;
	text-align: right;
}

div.center{
	text-align: center;
}
#selectStatus{
	margin-bottom: 0px;	
}
